@import "tailwindcss";

/**
* This is a variable font
* You can control variable axes as shown below:
* font-variation-settings: wght 400.0;
*
* available axes:
'wght' (range from 100.0 to 900.0
*/
@font-face {
  font-family: "Switzer-Variable";
  src: url("../assets/fonts/Switzer-Variable.woff2") format("woff2"),
    url("../assets/fonts/Switzer-Variable.woff") format("woff"),
    url("../assets/fonts/Switzer-Variable.ttf") format("truetype");
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Switzer-VariableItalic";
  src: url("../assets/fonts/Switzer-VariableItalic.woff2") format("woff2"),
    url("../assets/fonts/Switzer-VariableItalic.woff") format("woff"),
    url("../assets/fonts/Switzer-VariableItalic.ttf") format("truetype");
  font-weight: 100 900;
  font-display: swap;
  font-style: italic;
}

:root {
  --background: var(--color-gray-50);
  --foreground: var(--color-gray-950);
  vertical-align: baseline;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--color-gray-950);
    --foreground: var(--color-gray-50);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
