@import "tailwindcss";

/**
* This is a variable font
* You can control variable axes as shown below:
* font-variation-settings: wght 400.0;
*
* available axes:
'wght' (range from 100.0 to 900.0
*/
@font-face {
  font-family: "Switzer-Variable";
  src: url("../public/assets/fonts/switzer/Switzer-Variable.ttf")
    format("truetype");
}
@font-face {
  font-family: "Switzer-VariableItalic";
  src: url("../public/assets/fonts/switzer/Switzer-VariableItalic.ttf")
    format("truetype");
}

:root {
  --background: var(--color-teal-50);
  --foreground: var(--color-teal-950);
  vertical-align: baseline;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--color-teal-950);
    --foreground: var(--color-teal-50);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Switzer-Variable", Arial, Helvetica, sans-serif;
}
